html, body {
    height: 100%;
}

.gameWrapper {
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.bodyClassic {
    background-color: azure;
    background: linear-gradient(to right, azure, aliceblue);
}

.bodyGoth {
    background-color: gray;
    background: linear-gradient(to right, black, gray, black);
    color: #ffffff;
}

.bodyWeapons {
    background-color: red;
    background: linear-gradient(to right, red, yellow, red);
}

.list-group-item:hover {
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    cursor: pointer;
}

.board-container {
    background-color: #e5e5e5;
    position: relative;
    max-height: 78vh;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

.displayNone {
    display: none;
}

.unclickable {
    pointer-events: none;
}

.board-row {
    height: 150px;
    height: 25vmin;
}

.board-item {
    border: 2px solid #222;
}
.board-item:first-of-type {
    border-left-color: transparent;
    border-top-color: transparent;
}
.board-item:nth-of-type(2) {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}
.board-item:nth-of-type(3) {
    border-right-color: transparent;
    border-top-color: transparent;
}

.board-row:nth-of-type(3) .board-item {
    border-bottom-color: transparent;
}

.x:before {
    position: absolute;
    top: 0;
    left: 50%;
    content: "";
    display: block;
    width: 7px;
    width: 1.5vmin;
    height: 150px;
    height: 25vmin;
    background-color: #10A0E1;
    border-radius: 5px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.x:after {
    position: absolute;
    top: 0;
    left: 50%;
    content: "";
    display: block;
    width: 7px;
    width: 1.5vmin;
    height: 150px;
    height: 25vmin;
    background-color: #10A0E1;
    border-radius: 5px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.o {
    position: absolute;
    top:  50%;
    left: 50%;
    width: 120px;
    width: 20vmin;
    height: 120px;
    height: 20vmin;
    border: 8px solid #E110A0;
    border: 1.5vmin solid #E110A0;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.board-item-icon {
    font-size: 50px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}