body {
    background-color: azure;
}

.bodyClassic {
    background-color: azure;
    background: linear-gradient(to right, azure, aliceblue);
}

.bodyGoth {
    background-color: gray;
    background: linear-gradient(to right, black, gray, black);
}

.bodyWeapons {
    background-color: red;
    background: linear-gradient(to right, red, yellow, red);
}

.infoContainer {
    display: grid;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10%;
    padding-right: 10%;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

.infoBox {
    background-color: lightgray;
    color: black;
    padding: 10px;
    border: 5px solid transparent;
}

.gameContainer {
    display: grid;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    background-color: azure;
    border: 5px solid blue;
    text-align: center;
}

.gameContainer > .blue {
    background-color: blue;
    color: white;
    padding: 20px;
    font-size: 48px;
}

.gameContainer > .red {
    background-color: red;
    color: white;
    padding: 20px;
    font-size: 48px;
}

.gameContainer > .gray {
    background-color: gray;
    color: purple;
    padding: 20px;
    font-size: 48px;
}

.gameContainer > div {
    border: 2px solid blue;
    border-radius: 25px;
    background-color: lightgray;
    padding: 35px;
    color: green;
}

.center {
    text-align: center;
}

.displayNone {
    display: none;
}

.unclickable {
    pointer-events: none;
}

.bigFont {
    font-size: 36px;
}


.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}

.select-side-hidden {
    opacity: 0;
}